# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Data (raw & processed)
data/raw/*
data/processed/*

!data/raw/.gitkeep
!data/processed/.gitkeep

# HuggingFace cache
.cache/
.huggingface/

# OS
.DS_Store

